html {
	font-family: Helvetica, Arial;
	font-size: 18px;
}

a{
	text-decoration: none;

}

body {
	background-color: #000;
	color: rgb(255,255,255);
	/*opacity: .5;*/
}
/*颜色的表现(color wheel：color.adobe.com)：
1.英文名字
2. hexcode：16进制的表现，0 (min)~ F (max)
ex. #00（red) 00(green) 00 (blue)  - black
    #FF FF FF - White
3.rgb(0~255,0~255,0~255,)
ex. rgb(0,0,0) - black
   rgb(255,0,255)
   透明表现方式：rgba(12,15,230,0~1); a的最后一位是表示透明度
*/

h1 {
	font-size: 2rem;
	font-weight: 800;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	font-weight:100;
}

nav ul {
	width: 100%;
	padding: 0;
}
nav ul li {
	display: inline-block;
}

nav ul li a {
	display: inline-block;
	margin: 20px 50px 20px 50px;
	     /* up right down left*/
	color: #1099FF;
	border:4px groove #1099FF;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.5s, color .5s;

	/*background-color: yellow;
	padding: 5px;
	border: 1px solid black;*/
}
/*
nav ul li a {
	color: #1099FF;
}*/

nav ul li a:hover{
	background-color: #1099FF;
	color: white;
}
/*nav ul li :hover{
	background-color: #1099FF;
	color: white;
}*/

nav ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
}

nav {
	background-color: white;
	position:fixed;
	top:0;
	width: 100%;

}


.banner {
	width: 100%;
	margin-top: 89px;
}

.p1 {
	text-align: center;
}
.m1 {display: inline-block;
	width: 30%;
	text-align: center;
	margin: 10px 10px 10px 10px;
	font-size: 2rem;
	border:5px groove #FFF821;
}
.m1 h2 {padding: 10px;
	transition: background-color 0.5s, color 0.5s;
}

.m1 h2:hover{color: black;
	background-color: white;
	opacity: 0.6;
}

.movie-table {
	width: 80%;
    border:1px solid white;
 	margin:150px auto 0 auto;
 }
.movie-table tr th, .movie-table tr td{
	padding: 10px;
	border:1px solid white;
}
.column1 {
	width: 200px;
}
.column2 {
	width: 200px;
}
/*.movie-table>tr>th 有箭头一定要子下级*/

.cinema {
	margin: 5em 0;
}
.circle-img{
	margin-top: 30px;
	border-radius: 10%;
	margin-bottom: 50px;
}

.about-image{
	text-align: center;
}
.add{
 	font-size: 35px;
}

@media(max-width: 1020px){
	.m1 {
		margin:3px 3px 3px 3px;
	}
}
/*@media(max-width: 640px){
	
	h1{
		font-size: 5rem;
	}	
}*/


@media(max-width:591px){
	nav ul li a{
		margin:10px 8px;
	}
	h1 {font-size: 1rem;
	}
	.m1 {
		margin:1px 1px 1px 1px;
}
/*一定要在最下面*/